{% extends "layout.html" %}
        
        {% block right_menu %}

        <!-- Menu Items Right -->
        <ul class="nav navbar-nav navbar-right">
          <!-- Modal LogInModal -->

          <li><a href="/addblog"><button class="btn btn-xs btn-success">Add Blog</button></a></li>
          <li><a id = "userName" href="/">{{ user }}</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>


        {% endblock %}

{% block body %}    

<div class="container" style="margin-top:60px;" id="mainContainer">
</div>
<div  style="text-align:center;"><br>
<button id = 'loadMore'>Load More</button>
</div>

<script>
    var blogData = ({{data|safe}});
    // 'safe' is a jinja2 filter
    // which is converting python data to 'JSON' preventing from 'html escaping'

</script>

<script src="../static/js/custom.js"></script>

{% endblock %}
